{# templates/admin/my_dashboard.html.twig #}


{% extends '@EasyAdmin/layout.html.twig' %}

<html>
<title>
    {% block title %}SEO!{% endblock %}

</title>
</html>
{% block main %}
    sadadas
    {# ... #}
{% endblock main %}